/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* THis is my own css code. */

@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,500&display=swap");

body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  background: #fff1e2 !important;

  .card {
    background-color: #fff1e2;
  }
}

.sticker-slider {
  list-style: none;
  padding-left: 0px;
}

.sticker-slider .item {
  display: inline-block;
  margin: 5px;
  width: 18%;
}

.sticker-slider .item img {
  max-width: 70px;
}

.intro-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff1e2;
  z-index: 999;
  overflow: hidden;

  .viewer {
    margin-top: 20px !important;
  }
}

.intro-overlay .logo-wrapper {
  text-align: center;
  margin-top: 100px;
}

.intro-overlay .text-wrapper {
  color: #000;
  margin-top: 0px;

  .small {
    font-size: 15px;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    margin-top: 200px;
    display: block;
  }

  .fortune-text {
    font-size: 20px;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    margin-top: 20px;
    display: block;
  }

  .name {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .sender-name {
    font-size: 24px !important;
  }

  p {
    color: black;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
    width: 670px;
    display: block;
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
  }
}

.custom-button {
  background: black;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 210px;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;

  &:hover {
    color: black;
    background: #fff1e2;
    border: 1px solid black;
  }
}

.gif-selection {
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;

  li {
    list-style: none;
    display: inline-block;
    min-width: 315px;
    min-height: 345px;
    position: relative;

    .rays {
      position: absolute;
      top: 6px;
      left: 83px;
      z-index: 1;
      animation-name: spinning;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      /* linear | ease | ease-in | ease-out | ease-in-out */
      animation-timing-function: linear;
    }

    @keyframes spinning {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .gif-item {
      position: relative;
      z-index: 2;
    }

    img {
      cursor: pointer;
    }
  }

  &:last-child {
    margin-top: -120px;
  }
}

.flip-hover {
  .front {
    transform: perspective(600px) rotateY(-180deg) !important;
  }
  .back {
    transform: perspective(600px) rotateY(0deg) !important;
  }
}

.main-logo-wrapper {
  img {
    max-width: 100px;
  }
}

.btn-green {
  color: white;
  background: #bdd631;
  border-radius: 10px;
}

.form-card {
  margin-top: 40px;
}

.tempprev {
  position: relative;

  .loader-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 241, 226);
    border: 1px solid black;

    p {
      text-align: center;
      display: block;
      line-height: 30;
    }
  }
}

#temp_prev {
  text-align: left;
  display: block;
  max-width: 650px;
  width: 100%;
}

.end-title {
  text-align: center !important;
  color: #da2128 !important;
}

.share-icons {
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    li {
      list-style: none;
      display: inline-block;
      margin-right: 15px;

      &:last-child {
        margin-right: 0px;
      }

      span {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        display: block;
        margin-top: 10px;
      }

      a {
        color: #fff1e2;
        font-size: 25px;
        display: block;
        text-align: center;
        border-radius: 100%;
        border: 0px solid black;
        background: black;
        width: 60px;
        height: 57px;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        margin: 0 auto;

        &:hover {
          color: black;
          background: #fff1e2;
          border: 1px solid black;
        }
      }
    }
  }
}

.last-prev {
  background: black !important;
  color: white !important;
  padding: 10px 20px !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  display: inline-block !important;
  margin: 0 auto !important;
  max-width: 300px !important;
  font-family: "Helvetica", sans-serif !important;
  font-size: 15px !important;
  float: none !important;
  width: 122px !important;
  border-radius: 0px !important;
  &:hover {
    color: black !important;
    background: #fff1e2 !important;
    border: 1px solid black !important;
  }
}

.resetBtn {
  background: black;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  max-width: 305px;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;

  &:hover {
    color: black;
    background: #fff1e2;
    border: 1px solid black;
  }
}

.nav-link {
  margin-right: 40px;
  font-family: "Asap", sans-serif;
  font-weight: bold;
  color: white !important;

  &:before {
    content: " ";
    border-top: 2px solid white;
    min-width: 25px;
    position: absolute;
    top: 43px;
    margin-left: -40px;
  }
}

.viewer-gif-wrapper {
  display: block;
  margin-top: 100px;
  position: relative;

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .play-video-button {
    width: 48%;
    display: inline-block;
    text-align: center;
    max-width: 1000px !important;
    margin-top: 25px !important;
    margin-right: 15px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.bg-darkest {
  background-color: #000 !important;
}

.no-scroll{
  height: 100% !important;
  overflow: hidden !important;
}

@media only screen and (max-width: 990px) {
  .intro-overlay {
    .logo-wrapper {
      margin-top: 25px;
    }
    .text-wrapper {
      p {
        width: 100%;
        font-size: 30px;
        line-height: 34px;
        padding-left: 55px;
        padding-right: 55px;
        margin-top: 25px;
      }

      .small {
        margin-top: 50px;
      }
    }
  }

  .gif-selection {
    li {
      min-width: 120px;
      min-height: 0px;
      max-width: 170px;
      width: 100%;
      .gif-item {
        position: relative;
        z-index: 2;
        max-width: 150px;
        margin-left: 15px;
        top: 20px;
      }
      .rays {
        left: 28px;
        top: 25px;
        max-width: 120px;
      }
    }

    &:last-child {
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }

  .konvajs-content {
    canvas {
      padding-bottom: 20px !important;
    }
  }

  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .rec_field {
    margin-top: 30px;
  }

  .sticker-slider {
    .item {
      margin: 3px;
    }
  }

  .share-icons {
    ul {
      li {
        margin-right: 0px;
        margin: 10px;

        &:last-child {
          margin-right: 10px;
        }
      }
    }
  }

  .viewer-gif-wrapper {
    .play-video-button {
      width: 100%;
      margin-top: 18px !important;
      text-transform: uppercase;
    }
  }
}

video {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
