* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
p {
  color: grey;
}
#heading {
  text-transform: uppercase;
  color: #673ab7;
  font-weight: normal;
}
#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}
#msform fieldset {
  background: #fff1e2;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}
.form-card {
  text-align: left;
}
#msform fieldset:not(:first-of-type) {
  display: none;
}
.form-label,
.fieldlabels {
  font-family: "Times New Roman", Times, serif;
  color: black !important;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid black;
  border-radius: 0px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  background-color: #fff1e2;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#msform input::placeholder,
#msform textarea::placeholder {
  color: black;
  opacity: 1;
}
#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #000;
  outline-width: 0;
}
#msform .action-button {
  background: black;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 210px;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
#msform .action-button:hover,
#msform .action-button:focus {
  color: black;
  background: #fff1e2;
  border: 1px solid black;
}
#msform .action-button-previous {
  width: 100px;
  background: #673ab7;
  font-weight: bold;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: -60px 0px 10px 5px;
  float: left;
  color: white;
  background: #bdd631;
  border-radius: 10px;
  font-family: "Quicksand", "Sans-serif";
  text-transform: uppercase;
  position: relative;
  z-index: 9;
}
#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #da2128;
}
.card {
  z-index: 0;
  border: none;
  position: relative;
}
.fs-title {
  font-size: 30px;
  color: black;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.purple-text {
  color: #673ab7;
  font-weight: normal;
}
.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}
.fieldlabels {
  color: gray;
  text-align: left;
}
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #808285;
  padding: 0px 100px;
}
#progressbar .active {
  color: #000;
  font-weight: bold !important;
}
#progressbar li {
  list-style-type: none;
  font-size: 15px;
  line-height: 18px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}
#progressbar li strong {
  color: black;
  font-weight: normal;
}
#progressbar #account:before {
  background-image: url("../img/progress-1.png");
  background-position: center;
  background-repeat: no-repeat;
  content: " ";
}
#progressbar #personal:before {
  background-image: url("../img/progress-2.png");
  background-position: center;
  background-repeat: no-repeat;
  content: " ";
}
#progressbar #payment:before {
  background-image: url("../img/progress-3.png");
  background-position: center;
  background-repeat: no-repeat;
  content: " ";
}
#progressbar #confirm:before {
  background-image: url("../img/progress-4.png");
  background-position: center;
  background-repeat: no-repeat;
  content: " ";
}
#progressbar li:before {
  width: 45px;
  height: 84px;
  line-height: 84px;
  display: block;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: -15px;
  top: 35px;
  z-index: -1;
}
#progressbar li:first-child:after {
  width: 50%;
  left: 50%;
  background-image: none;
}
#progressbar li:last-child:after {
  width: 50%;
}
#progressbar li:after {
  background-image: url("../img/arrow-progress.png");
  height: 84px !important;
  background-repeat: no-repeat;
}
.progress {
  height: 20px;
}
.progress-bar {
  background-color: #673ab7;
}
.fit-image {
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 990px) {
  #msform {
    margin-top: 0px;
  }
  #progressbar {
    padding: 0px 10px;
  }
  #progressbar li {
    font-size: 10px;
    line-height: 14px;
  }
  #progressbar li:before {
    width: 35px;
    height: 50px;
  }
  #progressbar li:after {
    top: 20px;
  }
  #progressbar #account:before {
    background-size: contain;
  }
  #progressbar #personal:before {
    background-size: contain;
  }
  #progressbar #payment:before {
    background-size: contain;
  }
  #progressbar #confirm:before {
    background-size: contain;
  }
  .fs-title {
    font-size: 22px;
    text-align: center !important;
  }
}
